:root {
    --yellow: #e29548;
    --silver: #e0dcd1;
    --blue: #173451;
    --blue-lighter: #245586;
    --red: #992154;
    --red-lighter: #984a6b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: var(--blue);
}

.btn {
    padding: 5px 10px;
    outline: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;

    &--red {
        background-color: var(--red);
    }
    &--yellow {
        background-color: var(--yellow);
    }
    &--blue {
        background-color: var(--blue);
    }
}

.counter {
    width: 400px;
    border: 3px solid var(--yellow);
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    
    & __actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
}