@import './mixins';
:root {
    --yellow: #e29548;
    --silver: #e0dcd1;
    --blue: #173451;
    --blue-lighter: #245586;
    --red: #992154;
    --red-lighter: #984a6b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: var(--blue);
}

.btn {
    @include button;
    &--red {
        background-color: var(--red);
    }
    &--yellow {
        background-color: var(--yellow);
    }
    &--blue {
        background-color: var(--blue);
    }
}

.counter {
    @include mainNet;
}