@import './mixins';
:root {
    --yellow: #e29548;
    --silver: #c6c2b7;
    --blue: #173451;
    --blue-lighter: #245586;
    --red: #992154;
    --red-lighter: #984a6b;
}

.btn {
    @include button;

    &--silver {
        background-color: var(--silver);
    }
    &--yellow {
        background-color: var(--yellow);
    }
    &--blue {
        background-color: var(--blue);
    }
}
.UpDown{
    @include mainNet;
    border: 3px solid var(--silver);
}